.container {
  background: white;
  border-radius: 2px;
  left: 45%;
  padding: 10px;
  min-height: 200px;
  width: 33%;
  position: fixed;
  top: 45%;
  transform: translate(-50%, -50%);
}

.expandedContainer {
  width: 80% !important;
}

.content {
  clear: both;
  padding: 10px;
}

.overlay {
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.title {
  float: left;
  font-size: 18px;
  margin-bottom: 10px;
}

.titleBar {
  border-bottom: 1px solid #c8c8c8;
  float: left;
  width: 100%;
}


